{% macro post_card(page, heading="h2") %}
<li class="card">
  <a href="{{ page.permalink }}" class="card-title">
    {% if heading == "h2" %}<h2>{{ page.title }}</h2>{% else %}<h3>{{ page.title }}</h3>{% endif %}
  </a>
  <div class="card-datetime">
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"></path>
      <path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z"></path>
    </svg>
    <span class="sr-only">Posted on:</span>
    <span>{{ page.date | date(format="%B %d, %Y") }}</span>
  </div>
  <p>{{ page.description }}</p>
</li>
{% endmacro %}

{% macro tag_item(name, size="sm") %}
<li class="tag {% if size == 'lg' %}tag-lg{% endif %}">
  <a href="/tags/{{ name | lower | slugify }}/">
    <svg xmlns="http://www.w3.org/2000/svg"><path d="M16.018 3.815 15.232 8h-4.966l.716-3.815-1.964-.37L8.232 8H4v2h3.857l-.751 4H3v2h3.731l-.714 3.805 1.965.369L8.766 16h4.966l-.714 3.805 1.965.369.783-4.174H20v-2h-3.859l.751-4H21V8h-3.733l.716-3.815-1.965-.37zM14.106 14H9.141l.751-4h4.966l-.752 4z"></path></svg>
    &nbsp;<span>{{ name | lower }}</span>
  </a>
</li>
{% endmacro %}
